@import "tailwindcss";

@theme {
  /* Darkest Blue: Best for body text and paragraphs */
  --color-text-main: #003366;

  /* Deep Blue: Best for headings, navbars, or primary buttons */
  --color-primary: #174978;

  /* Medium Blue: Best for secondary buttons, icons, or links */
  --color-secondary: #2F5F8A;

  /* Muted Blue: Best for borders, dividers, or disabled states */
  --color-border: #46769B;

  /* Soft Blue: Best for card backgrounds or sidebar backgrounds */
  --color-surface: #5E8CAD;

  /* Lightest Blue: Best for page background highlights or hover effects */
  --color-bg-light: #75A2BF;
}
